*.iml
*.ipr
*.iws

.idea/*
!.idea/copyright
/build

.DS_Store

## User settings
xcuserdata/
*.xcuserdata
*.xcuserstate
*.xcschememanagement.plist

# App packaging
*.ipa
*.dSYM.zip
*.dSYM

# Obj-C/Swift specific
*.hmap

DerivedData/